/node_modules
/public/hot
/public/storage
/public/uploads
/public/front/img/location/
/public/front/img/seo/
/public/facebookbot
/storage/*.key
/vendor
/.idea
/.vagrant
/.discovery
Homestead.json
Homestead.yaml
npm-debug.log
.env
.DS_Store
/public/.DS_Store
